<div class="hero">
  <div class="hero-text-box">
    <h1 class="heading-primary hero-header">Ganale a la inflación con tus compras</h1>
    <p class="hero-description">
      Averiguá si te conviene pagar en cuotas con tarjeta de crédito invirtiendo en plazo fijo el mejor precio en efectivo que tengas.
    </p>
    <app-expense-form class="hero-form" (expenseDetails)="calculate($event)"></app-expense-form>
  </div>
  <div class="hero-img-box">
    <img
      src="assets/img/hero_image_primary.svg"
      class="hero-img"
      alt="Un hombre haciendo un pago online con tarjeta de crédito"
    />
  </div>
</div>
